.title{
  text-align: left;
}

.logo{
margin-top: -5%;
width: 55%;
}

.form-container {
  height: 69vh;
  max-width: 400px;
  margin: 100px auto 0 auto; 
  padding: 30px;
  background-color: #ffffff2c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px); 
  margin-top: 5%;
}

.form-group {
  position: relative;
  text-align: left;
  margin-top: 14%;
  top:0% auto;
}

.form-group h3 {
  margin-bottom: 10px;
  font-size: 1em;
}

input[type="text"], input[type="tel"] {
  width: 94%;
  height: 30px;
  padding: 5px;
  border: 0px solid #ccc;
  border-radius: 20px;
  font-size: 1em;
}
input:focus{
  outline: none;
}
.button {
  display: block;
  margin-top: 7%;
  width: 100%;
  padding: 10px;
  background-color: #07918d;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}

.button:disabled {
  background-color: #ccc; 
  color: #666; 
  cursor: not-allowed; 
}

.button:hover {
  background-color: #176d6d;
}

@media screen and (max-width: 480px) {
  .logo{
    margin-top: 17%;
  }

  .form-container {
    height: 50vh auto;
    margin-top: 15%;
  }
  .form-group {
    top:10%;
  }

  .button {
    margin-top: 18%;
  }
}